$grid-columns:               15 !default;
$font-family-sans-serif:     Arial, sans-serif !default;
$font-size-root:             18px !default;

@import "./bower_components/bootstrap4/scss/bootstrap.scss";

